@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.container {
    width: 500px;
}

.container__item {
    margin: auto
}

.container__itemTwo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container__itemTwo:hover .image__imageProduct {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text__nameProduct,
.text__textProduct,
.text__totalProducts {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 18px;
}

.text__nameProduct {
    text-align: center;
}

.image__imageProduct {
    display: block;
    margin: auto;
    min-width: 150px;
    min-height: 110px;
}

.text__textProduct {
    font-weight: 700;
    font-size: 15px;
}

.line__separatorProducts {
    width: -webkit-fill-available;
}

.text__totalProducts {
    text-decoration: underline;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__buttonCheckout,
.container__buttonCart {
    margin-bottom: 20px;
}

.container__buttonCheckout a {
    text-decoration: underline;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.container__buttonCart button {
    background: #000;
    color: #fff;
    width: 150px;
    height: 35px;
    border: 1px solid #000;
    cursor: pointer;
}

.container__buttonCart button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}